.wrapper {
    background-image: linear-gradient(to right bottom, #000000, #151213, #211d21, #2d292f, #37363f, #3c3e48, #414751, #465059, #49565c, #4d5b5f, #536061, #596564);

}

.green {
    color: #70FF00 !important;

}

.main {
    gap: 20px;
}

.img-container {
    gap: 20px;
}

.img-container img {
    width: 10rem;
    height: 15vh;
}



.img-container-1 img {
    width: 5vw;

}

.card {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.card img {
    height: 40vh;
    width: 100%;
}

.navbar-nav {
    font-size: 20px;
    gap: 20px;
}

.card {
    background-color: #7b7f83 !important;
}



@media screen and (max-width: 700px) {
    .img-container {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }




}

@media screen and (max-width: 900px) {
    .navbar-nav {
        font-size: 15px !important;
        gap: 0px !important;
    }

    .font-size {
        font-size: 15px !important;
    }

}