.wrapper {
    background-image: linear-gradient(to right bottom, #000000, #151213, #211d21, #2d292f, #37363f, #3c3e48, #414751, #465059, #49565c, #4d5b5f, #536061, #596564);
}

.green {
    color: #70FF00 !important;

}

.main {
    gap: 20px;
}


.img-container img {
    width: 10vw;
    height: 15vh;

}

.card {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.card img {
    height: 40vh;
    width: 100%;
}

@media screen and (max-width: 500px) {
    .img-container img {}

}